[Unit]
Description=Kiosk Mode for YouTube Streams
After=multi-user.target network-online.target
Wants=network-online.target
Conflicts=getty@tty1.service

[Service]
Type=idle
User=USERNAME
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
StandardInput=tty
StandardOutput=tty
ExecStartPre=/bin/sleep 5
ExecStart=/home/USERNAME/kiosk-with-x.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
